# Clerk
VITE_CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx

# Supabase
VITE_SUPABASE_URL=https://xxx.supabase.co
VITE_SUPABASE_ANON_KEY=xxx

# Cloudinary
CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_UPLOAD_PRESET=xxx

# RENIEC API
API_RENIEC_TOKEN=xxx

# Notion (feedback)
NOTION_API_KEY=xxx
NOTION_DATABASE_ID=xxx
